<div class="container">
  <h1>Telemetries: {{telemetries.length}}</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">IP</th>
        <th scope="col">Temperature</th>
        <th scope="col">Connection</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let telemetry of telemetries">
        <td>{{telemetry.ip}}</td>
        <td>{{telemetry.temperature}}°C</td>
        <td>{{telemetry.isConnection ? 'Yes' : 'No'}}</td>
      </tr>
    </tbody>
  </table>
</div>