<div class="container">
  <h1>Reads: {{reads.length}}</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">IP</th>
        <th scope="col">EPC</th>
        <th scope="col">Date</th>
        <th scope="col">Antenna</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let read of reads">
        <td>{{read.ip}}</td>
        <td>{{read.epc}}</td>
        <td>{{read.readDate | date:'d/M/yy - h:mm:ss a'}}</td>
        <td>{{read.antenna}}</td>
      </tr>
    </tbody>
  </table>
</div>