<div class="container">
  <h1>Logs: {{logsMock.length}}</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">IP</th>
        <th scope="col">Exception</th>
        <th scope="col">StackTrace</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of logsMock">
        <td>{{log.ip}}</td>
        <td>{{log.exception}}</td>
        <td>{{log.stackTrace}}</td>
        <td>{{log.exceptionDate | date:'d/M/yy - h:mm:ss a'}}</td>
      </tr>
    </tbody>
  </table>
</div>